:root {
    --primary-color: rgb(149, 36, 149);
    --secondary-color: #FFD900;
    --background-color: violet;
    --text-color: #333;
    --container-bg-color: #fff;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --font-family: "Quick-Fox", sans-serif;
    --button-bg-color: #f5a5cd;
    --button-hover-bg-color: #FFD900;
    --navbar-bg-color: white;
    --header-shadow: 2px 2px 0 var(--primary-color);
    --border-color: #0e0e0e;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.intro-paragraph {
    position: absolute;
    top: 100px;
    margin-bottom: 20px;
}

.intro-paragraph.left {
    left: 20px;
}

.intro-paragraph.right {
    right: 20px;
}

.custom-button {
    background-color: var(--button-bg-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    display: inline-block;
}

.custom-button:hover {
    background-color: var(--button-hover-bg-color);
}

.navbar {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--navbar-bg-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.navbar a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0 8px;
    background-color: var(--secondary-color);
}

.navbar a:hover {
    color: black;
    background-color: var(--secondary-color);
}

.container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

h1 {
    font-size: 60px;
    color: var(--border-color);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.header {
    font-size: 60px;
    color: black;
    text-shadow: var(--header-shadow);
    display: inline-block;
}

.yellow-box {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
}

h3 {
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: var(--header-shadow);
    margin-bottom: 40px;
}

.yellow-box .content {
    text-align: justify;
}

.card {
    background-color: var(--container-bg-color);
    border: 3px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card .card-body {
    height: calc(100% - 70px);
    overflow-y: auto;
    margin-bottom: 20px;
}

.card .card-title {
    color: var(--primary-color);
}

.card .card-text {
    color: var(--text-color);
}

.card .custom-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card .custom-button:hover {
    background-color: var(--button-hover-bg-color);
    color: white;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 5%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 70%;
}

.carousel-control-prev {
    left: 15px;
}

.carousel-control-next {
    right: 15px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    list-style: none;
}

.carousel-indicators li {
    background-color: var(--button-bg-color);
}

.carousel-indicators .active {
    background-color: var(--secondary-color);
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.col-sm-6 {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin: 0 15px;
}

.logo-top-right {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 90px;
    height: auto;
    z-index: 1;
}
