:root {
    --primary-color: rgb(149, 36, 149);
    --secondary-color: #FFD900;
    --background-color: violet;
    --text-color: #333;
    --button-bg-color: #f5a5cd;
    --button-hover-bg-color: var(--secondary-color);
    --font-family: "Quick-Fox", sans-serif;
    --box-padding: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.intro-paragraph {
    position: absolute;
    top: 100px; 
    margin-bottom: 20px; 
}

.intro-paragraph.left {
    left: 20px; 
}

.intro-paragraph.right {
    right: 20px; 
}

.custom-button {
    background-color: var(--button-bg-color); 
    color: var(--primary-color); 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-weight: bold; 
    text-decoration: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: var(--box-padding);
    display: inline-block;
}

.custom-button:hover {
    background-color: var(--button-hover-bg-color); 
}

.navbar {
    background-color: white;
    padding: 15px 0;
    text-align: center;
}

.navbar a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    background-color: var(--secondary-color);
}

.navbar a:hover {
    color: black;
    background-color: var(--secondary-color);
}

.container {
    position: relative; 
    max-width: 800px;
    margin: var(--box-padding) auto;
    padding: var(--box-padding);
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 80px !important;
    color: #0e0e0e;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    margin-bottom: var(--box-padding); 
}

h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.header {
    font-size: 60px;
    color: black; 
    text-shadow: 2px 2px 0 var(--primary-color);
    display: inline-block;
}

.header-container {
    display: flex;
    align-items: center; 
}

.yellow-box {
    background-color: var(--secondary-color); 
    padding: var(--box-padding);
    border-radius: 5px;
    margin-top: var(--box-padding);
    display: inline-block; 
}

h3 {
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: 2px 2px 0 black;
    margin-bottom: 40px;
}

.yellow-box .content {
    text-align: justify;
}

.centered {
    text-align: center; 
}

.intro-paragraph img {
    width: 300px; 
}

.link {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
}

.link:hover {
    color: var(--button-bg-color); 
}

.logo-container {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 220px; 
    height: auto; 
    margin-right: -50px;
    margin-left: -20px;
    vertical-align: middle; 
    margin-top: var(--box-padding);
}

.logo-top-right {
    position: absolute; 
    top: 4px !important; 
    right: 1px !important; 
    width: 90px; 
    height: auto; 
}

