:root {
    --primary-color: rgb(149, 36, 149);
    --secondary-color: #FFD900;
    --background-color: violet;
    --text-color: #333;
    --container-bg-color: #fff;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --font-family: "Quick-Fox", sans-serif;
    --navbar-bg-color: white;
    --header-shadow: 2px 2px 0 var(--primary-color);
    --border-color: rgb(149, 36, 149);
    --bar-bg-color: #ddd;
    --bar-height: 10px;
    --profile-border-width: 5px;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.navbar {
    background-color: var(--navbar-bg-color);
    padding: 15px 0;
    text-align: center;
}

.navbar a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    background-color: var(--secondary-color);
}

.navbar a:hover {
    color: black;
    background-color: var(--secondary-color);
}

.header {
    font-size: 60px;
    color: black;
    text-shadow: var(--header-shadow);
    display: inline-block;
}

.h3 {
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: 2px 2px 0 black;
    margin-bottom: 40px;
}

.yellow-box {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

.yellow-box .content {
    text-align: center;
}

.profile-image {
    width: 300px;
    height: 400px;
    border-radius: 1%;
    float: right;
    margin-left: 10px;
    margin-top: 30px;
    border: var(--profile-border-width) solid var(--border-color);
}

.logo-top-right {
    position: absolute;
    top: 4px;
    right: 1px;
    width: 90px;
    height: auto;
}
